<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}(Untitled){% endblock %} - The Usual Suppliers</title>

  <meta name="og:site_name" content="The Usual Suppliers">
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  {% assets filters="less,cssmin,cssrewrite", output="gen/style.css",
      "vendor/bootstrap/less/bootstrap.less",
      "style.less"
  %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>

  <div class="container" id="page">
    <header>
      <h1>The Usual Suppliers</h1>
    </header>
    {% block content %}{% endblock %}
  </div>

  <footer class="container">
    <p class="text-center">
      dataharvest14
    </p>
  </footer>
</body>
</html>
